<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="${gdc:item=nlog-gdc-logdir}/log.txt"
				maxArchiveFiles="30" archiveEvery="Day" archiveFileName="${gdc:item=nlog-gdc-logdir}/${date:format=yyyy-MM-dd}.txt" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>